@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/resets";

.infosection {
  background-color: $siphon;
  color: $ice;

  &__horozontalbox {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #180048;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-textcontianer {
    }
    padding-left: 1rem;
    line-height:1.2;

    &-title {
        font-weight:100;
        font-style: normal;
    }

    &-info {
   
    }

   

    &-arrow {
    }
  }

  &__vertbox {
    background-color: $hemocyanin;
    width: 40%;
    border-radius: 20px;
    padding-left:1rem;
    padding-right:1rem;
    padding-top:1rem;
    line-height:1.2;
    text-align:center;

    &-summary{
      
        line-height:1.2;
        margin-top:0;
    }

    &-reclist{
        list-style: none;
        text-align:left;
        padding-left:.5rem;

        &-p{
            line-height: 1.2;
            margin:0;
            text-align: left;
        }

        &--icon{
            margin-right:0.5rem;
           
        }
    }

    &-reclistitem{
        padding-bottom:1rem;
        display:flex;
        align-items:baseline;
    }

    &-title {
      padding-left: 1rem;
    }

    &-info {
      color: #63e8b2;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      padding-left:1rem;
      margin:0;
    }

    &-container {
      margin-top: 2rem;
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 5rem;
    }
  }
}
